<?xml version="1.0"?>
<model>
    <name>my_robot</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>Nattasit Phaisalrittiwong</name>
        <email>nattasit.45901@mail.kmutt.ac.th</email>
    </author>

    <description>
        A Robot.
    </description>
</model>