<?xml version="1.0"?>
<robot name= "turtle_castor2" xmlns:xacro="http://www.ros.org.wiki/xacro">
 	<xacro:include filename="$(find turtle_description)/urdf/turtle_properties2.xacro"/>
 	<xacro:macro name="castor2" params="name translation rotation parent">
 		<link name= "${name}_castor"> 
 			<visual>
 				<origin rpy="${PI/2}  0 0"/>
 				<geometry>
 					<cylinder radius="${CASTOR_RADIUS}"
 						length="${CASTOR_THICKNESS}"/>
 				</geometry>
 				<material name="${name}_castor_color">
 					<color rgba= "0.5 0.5 0 1"/>
				</material>
			</visual>
		</link>
		<joint name= "${name}_wheel_joint" type="fixed">
			<parent link="${parent}"/>
			<child link="${name}_castor"/>
 			<origin xyz="${translation}"
					rpy="${rotation}"/> 
 		</joint>
 	</xacro:macro>
</robot>
