<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org.wiki/xacro">

 	<xacro:property name= "PI" value= "3.1415926535897931"/> 
 	<xacro:property name= "CHASSIS_LENGTH" value= "0.65"/> 
 	<xacro:property name= "CHASSIS_WIDTH" value= "0.55"/> 
 	<xacro:property name= "CHASSIS_HEIGHT" value= "0.295"/> 
 	<xacro:property name= "CHASSIS_ELEVATION" value= "0.065"/> 
 	<xacro:property name= "WHEEL_RADIUS" value= "0.08"/> 
 	<xacro:property name= "WHEEL_THICKNESS" value= "0.04"/> 
 	<xacro:property name= "WHEEL_SEPARATION" value= "0.46"/> 
 	<xacro:property name= "CASTOR_RADIUS" value= "0.15"/> 
 	<xacro:property name= "CASTOR_SEPARATION_X" value= "0.56"/> 
 	<xacro:property name= "CASTOR_SEPARATION_Y" value= "0.36"/> 
 	<xacro:property name= "CASTOR_THICKNESS" value= "0.2"/>

	<xacro:property name= "BASE_LENGTH" value= "0.5"/>
	<xacro:property name= "BASE_HEIGHT" value= "0.5"/>
	<xacro:property name= "BASE_ELEVATION" value= "0.16"/>
	<xacro:property name= "BASE_WIDTH" value= "0.5"/>

	
</robot>